<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <title>Please Login!</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    </head>
    <body>
        <div id="loginModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="text-center">Login</h1>
                    </div>
                    <div class="modal-body">

                        <div id='alerts'>
                        <!-- Error Handling -->
                        {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                                {% for category, message in messages %}
                                    {% if category[-8:] == '-noclose' %}
                                        {% set this_no_close = True %}
                                        {% set category = category[:-8] %}
                                    {% endif %}
                                    {% if category == 'success' %}
                                        {% set this_desc = 'Success' %}
                                        {% set this_icon = 'ok' %}
                                        {% set this_class = 'success' %}
                                    {% elif category == 'danger' or category == 'error' %}
                                        {% set this_desc = 'Error' %}
                                        {% set this_icon = 'remove' %}
                                        {% set this_class = 'danger' %}
                                    {% endif %}

                                    <div class="alert alert-{{ this_class }}" role="alert">
                                        {% if this_no_close != True %}
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                        {%  endif %}
                                        <span class="glyphicon glyphicon-{{ this_icon }}" aria-hidden="true"></span>
                                        <span class="sr-only">{{ this_desc }}:</span>
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}

                        <form class="form col-md-12 center-block" action="{{ url_for('Auth:login') }}" method="post">
                            <div class="form-group">
                                <input type="text" id="username" name="username" class="form-control input-lg" placeholder="Username" autofocus="">
                            </div>
                            <div class="form-group">
                                <input type="password" id="password" name="password" class="form-control input-lg" placeholder="Password">
                            </div>
                            <div class="form-group">
                                <input type="submit" class="btn btn-primary btn-lg btn-block" value="Sign In"/>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <div class="col-md-12">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" crossorigin="anonymous"></script>
    </body>
</html>